@import '../../styles/colors.scss';

.logo {
  width: 240px;
  height: 80px;
  cursor: pointer;
  &__name {
    fill: $whiteSoft;
    transform: translate(80px, 0px) scale(2.5);
  }
  &__slogan {
    fill: $whiteSoft;
    transform: translate(85px, 70px) scale(0.3);
  }
  &__icon {
    fill: $yellowDark;
    transform: translate(0, 0) scale(0.8);
  }
}
