@import '../../styles/colors.scss';

.header {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: $grayDark;

  .divider {
    position: absolute;
    bottom: 0;
    width: inherit;
  }
}
